<div *ngIf="book">
  <div class="row">
    <div class="col-lg-4">
      ID
    </div>
    <div class="col-lg-8">
      {{book.id}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Title
    </div>
    <div class="col-lg-8">
      {{book.title}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Main Author
    </div>
    <div class="col-lg-8">
      {{book.author}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Year
    </div>
    <div class="col-lg-8">
      {{book.year}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Wikipedia
    </div>
    <div class="col-lg-8">
      Comming soon !!!
    </div>
  </div>
</div>
